.main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 4rem;
}

/* Online Store CSS */
.store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.store {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 28rem;
  border: 1px solid #dcdee0;
  border-radius: 10px;
  padding: 2.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.product-card:hover .product__img {
  opacity: 1;
  transform: scale(1.02);
}

.product-card:hover {
  box-shadow: 0 0 10px 3px #e9ecef;
  background-color: #fff;
}

.product__img {
  width: 15rem;
  opacity: 0.8;
  transition: all 0.3s;
}

.product__title {
  color: #60636c;
  font-weight: 400;
}

.product__desc {
  display: flex;
  gap: 2rem;
  color: #60636c;
  font-weight: 400;
  font-size: 1.4rem;
}

.product__price {
  color: #ca003d;
}
