/* Online Store CSS */
.product__list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.section__header {
  font-size: 2.8rem;
  font-weight: 600;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 6rem;
  row-gap: 6rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  border: 1px solid #dcdee0;
  border-radius: 10px;
  padding: 2.5rem;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
  padding: 4rem 8rem;
}

.product-card:hover .product__img {
  opacity: 1;
  transform: scale(1.02);
}

.product-card:hover {
  box-shadow: 0 0 10px 3px #e9ecef;
  background-color: #fff;
  background-color: #ec5e2a22;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__img {
  width: 15rem;
  opacity: 0.8;
  transition: all 0.3s;
}

.product__title {
  color: #60636c;
  font-weight: 600;
  font-size: 1.6rem;
}

.product__desc {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: #60636c;
  font-weight: 400;
  font-size: 1.4rem;
}

.product__availabilityStatus {
  font-weight: 600;
}

.in-stock {
  color: #087f5b;
}

.low-stock {
  color: #f59f00;
}

.out-of-stock {
  color: #e03131;
}
