.main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 4rem;
}

.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  height: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3rem;
  background-color: #f1f3f5;
  padding: 4rem;
  border-radius: 5px;
}

.contact-info__title,
.contact-form__title {
  font-size: 2.8rem;
  font-weight: 600;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact__list__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.contact__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ec5e2a;
  transition: all 0.2s;
}

.contact__icon {
  width: 2rem;
  height: 2rem;
}

.contact__icon path {
  fill: #fff;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #f1f3f5;
  padding: 4rem;
  border-radius: 5px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.contact-input {
  width: 35rem;
  height: 3rem;
  border-radius: 5px;
  border: 1px solid #dcdee0;
  padding: 1.5rem 1rem;
  font-size: 1.4rem;
  color: #343a40;
  font-family: inherit;
}

.contact-input:focus {
  outline: 1px solid #ced4da;
  box-shadow: none;
  box-shadow: none;
}

.text-input {
  height: 10rem;
}
