.post-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 1rem;
  width: 30rem;
  padding: 2rem;
  border: 1px solid #dcdee0;
  background-color: #f1f3f5;
}

.post-search-wrapper,
.post-sort-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  width: 100%;
}

.post-sort,
.post-search {
  border: 1px solid #dcdee0;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
  font-size: 1.4rem;
  width: 100%;
}

.post-sort:focus,
.post-search:focus {
  outline: 1px solid #ced4da;
}

.sort-title,
.search-title {
  flex-shrink: 0;
  font-size: 1.8rem;
  font-weight: 600;
  cursor: pointer;
}
