.page-not-found-wrapper {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  border: 1px solid #dcdee0;
  border-radius: 1rem;
  max-width: 50rem;
  width: 100%;
  padding: 4rem 8rem;
}

.not-found-icon path {
  fill: #868e96;
}

.not-found-icon {
  width: 10rem;
  height: 10rem;
}

.not-found-text {
  color: #343a40;
  font-weight: 500;
  font-size: 1.4rem;
}
