.product-filter-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 1rem;
  padding: 2rem;
  height: 35rem;
  border: 1px solid #dcdee0;
  background-color: #f1f3f5;
}

.filter-title {
  font-size: 2rem;
  font-weight: 600;
}

.category-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  overflow-y: scroll;
  width: 20rem;
}

.filter__btn {
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  width: 15rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  text-align: start;
}

/* .filter__btn:hover {
  background-color: #ec5e2a;
  color: #fff;
} */

.active-filter {
  background-color: #ec5e2a;
  color: #fff;
}
