.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  height: 100%;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.contact-info__title {
  font-size: 2.8rem;
}

.contact__list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact__list__item {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.6rem;
}

.contact-icon {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  padding: 0.5rem;
  cursor: pointer;
  background-color: #f03135;
  transition: all 0.2s;
}

.contact-icon path {
  fill: #fff;
}

.contact-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.contact-form__title {
  font-size: 2.8rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.contact-input {
  width: 35rem;
  height: 3rem;
  border-radius: 32px;
  border: 1px solid #e4e7ed;
  padding: 2.5rem;
}

.text-input {
  height: 10rem;
}

.contact-btn {
  width: 20rem;
  justify-content: center;
  height: 3rem;
  padding: 2.5rem;
}
