.home-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.highlight-txt {
  color: #ca003d;
}
