.product-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #f1f3f5;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #dcdee0;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.product-add-form-label {
  font-size: 1.6rem;
  font-weight: 600;
}

.product-add-input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.2rem;
  outline: none;
  width: 20rem;
  transition: all 0.3s;
  width: 100%;
  cursor: pointer;
}

.product-add-input:hover {
  border: 1px solid #ec5e2a;
}

.product-add-form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  background-color: #ec5e2a;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 500;
  width: 12rem;
  font-family: inherit;
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    opacity 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product-add-form-btn:hover {
  background-color: #ec5e2a;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  opacity: 0.95;
}
