/* Formation CSS */
.main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 4rem;
}

.formation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section__header {
  font-size: 2.8rem;
  text-align: center;
}

.line {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 15rem;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #dcdee0;
  border-radius: 6px;
  padding: 1rem 0;
  transition: all 0.3s;
}

.player-card:hover {
  background-color: #cc3f44;
  color: #fff;
}

.player__img {
  max-width: 6rem;
}

.player__club {
  font-size: 1rem;
}
