.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  height: 100%;
  font-size: 2.4rem;
  text-align: center;
}

.section-header {
  font-size: 2.8rem;
}

.blog__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10rem;
  row-gap: 10rem;
}

.blog__list__item {
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 4rem;
  border: 1px solid #e9ecef;
  padding-bottom: 2rem;
  border-radius: 10px;
  transition: all 0.3s;
}

.blog__list__item:hover {
  box-shadow: 0 0 10px 3px #e9ecef;
}

.blog__img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.3s;
}

.blog__list__item:hover .blog__img {
  opacity: 1;
}

.blog__content {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.blog__title {
  font-size: 2rem;
}

.blog__txt {
  font-size: 1.4rem;
  line-height: 2rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}
