.home-wrapper {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  justify-content: center;
  align-items: center;
  height: 35em;
  text-align: center;
}

.highlight {
  color: #ec5e2a;
}

.home-txt {
  font-size: 1.8rem;
}
