/* @import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: grid;
  grid-template-rows: 7rem auto 18rem;
  row-gap: 5rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.section-header {
  font-size: 2.8rem;
  font-weight: 600;
}

a {
  text-decoration: none;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #adb5bd;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ec5e2a;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ec5e2a;
}
