@import url("https://free.bboxtype.com/embedfonts/?family=FiraGO:400");

body {
  margin: 0;
  font-family: "FiraGO", sans-serif;
  font-feature-settings: "case" on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
