.main {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 4rem;
  overflow-y: auto;
}

/* Formation CSS */
.formation-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.section__header {
  font-size: 2.8rem;
  text-align: center;
}

.line {
  display: flex;
  gap: 3rem;
  justify-content: center;
}

.player-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 15rem;
  width: 100%;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  border: 1px solid #dcdee0;
  border-radius: 6px;
  padding: 1rem 0;
  transition: all 0.3s;
}

.player-card:hover {
  background-color: #cc3f44;
  color: #fff;
}

.player__img {
  max-width: 6rem;
}

.player__club {
  font-size: 1rem;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #adb5bd;
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f03135;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ce3d40;
}

/* Online Store CSS */
.store-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.store {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5rem;
  row-gap: 5rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 30rem;
  border: 1px solid #dcdee0;
  border-radius: 6px;
  padding: 2rem;
  cursor: pointer;
  text-align: center;
}

.product-card:hover .product__img {
  opacity: 1;
}

.product__img {
  width: 20rem;
  border-radius: 6px;
  opacity: 0.8;
  transition: all 0.3s;
}

.product__title {
  color: #60636c;
  font-weight: 400;
}

.product__desc {
  display: flex;
  gap: 2rem;
  color: #60636c;
  font-weight: 400;
  font-size: 1.4rem;
}

.product__price {
  color: #ca003d;
}
